<!doctype html>
    <div align="center">
    <title>Translate</title>
    <h1>Upload Text File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <h2>Select Language to Translate</h2>
      <p>
        <input type="radio" name="options" id="option1" value="German"> German </input><br>
        <input type="radio" name="options" id="option2" value="French"> French </input><br>
        <input type="radio" name="options" id="option3" value="Romanian"> Romanian </input><br>
        <input type=submit value=Submit>
      </p>  
    </form>
  </div>